<!DOCTYPE html>
<html>
  <head>
    <title>Notification</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <a href="/store/offers">All Offers</a> |
    <a href="/store/searches">All Searches</a> |
    <a href="/store/matches">Create Match</a>

    <h1>My people have been informed.</h1>
  </body>
</html>
