!!! XML
%svg{:height => "38", :width => "30", :xmlns => "http://www.w3.org/2000/svg", "xmlns:svg" => "http://www.w3.org/2000/svg"}
  %defs
    :css
      .cls-1 {
        fill: #{@clr};
        stroke: #444;
      }
      .cls-2 {
        fill: #fff;
      }
  %title icons
  %g
    %title Layer 1
    %path#svg_1.cls-1{:d => "m14.9,0l0.200001,0a15,15 0 0 1 14.9,14.75c0,9.790001 -10.73,19.700001 -15,23.25l-0.94,-0.799999l0,0c-4.740001,-4.100002 -14.06,-13.33 -14.06,-22.450001a15,15 0 0 1 14.9,-14.75z"}
    %text#svg_2{:fill => "#ffffff", "font-family" => "Monospace", "font-size" => "24", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null", "stroke-width" => "0", "text-anchor" => "middle", :transform => "matrix(0.631806, 0, 0, 0.717845, 2.72703, 8.40083)", :x => "19.623084", "xml:space" => "preserve", :y => "16.706232"}= @number
