!!! XML
%svg{:height => "40", :width => "40", :xmlns => "http://www.w3.org/2000/svg", "xmlns:svg" => "http://www.w3.org/2000/svg"}
  :css
    .loader {
          fill: #044057;
        }
        .loader__circle {
          opacity: .2;
        }
  %g
    %title Layer 1
    %path#svg_1.loader.loader__circle{:d => "m20.201,5.169c-8.254001,0 -14.946,6.692 -14.946,14.946c0,8.255001 6.691998,14.946001 14.946,14.946001s14.945999,-6.691 14.945999,-14.946001c-0.000999,-8.253999 -6.691999,-14.946 -14.945999,-14.946zm0,26.58c-6.425,0 -11.634,-5.208 -11.634,-11.634001c0,-6.425001 5.209,-11.634001 11.634,-11.634001c6.424999,0 11.632999,5.209001 11.632999,11.634001c0,6.426001 -5.208,11.634001 -11.632999,11.634001z"}
    %text#svg_2{:fill => "#{@clr}", "font-family" => "Monospace", "font-size" => "24", :stroke => "#000000", "stroke-dasharray" => "null", "stroke-linecap" => "null", "stroke-linejoin" => "null", "stroke-width" => "0", "text-anchor" => "middle", :transform => "matrix(0.830007, 0, 0, 0.794662, 0.878619, 1.63499)", :x => "23.489429", "xml:space" => "preserve", :y => "30.629386"}= @number
