extends layout.pug

block content
  .row
    .col-md-6
      h1 Consumers
  h6 Nothing to see, error.
  h4= error

block inlinejs

block inlinecss
  style.
    #events-listing {
      background-color:black;
      color:yellow;
      font-size:small;
    }
